<h2>About</h2>
<p>Victor is a family and public health physician, sociologist, and educator.  He is currently a resident physician at <a href="https://www.bmc.org/">Boston Medical Center.</a></p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="/bio">Bio</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-pen fa-lg main-list-item-icon"></span>
    <a href="https://cambridge.academia.edu/VictorRoy">Publications</a>
  </li>
</ul>
